In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import re
from string import punctuation
from collections import Counter
import operator

In [2]:
file = 'NewYork_Crime.xlsx'

In [3]:
nycrime = pd.ExcelFile(file)

In [4]:
df = nycrime.parse('Sheet1')

In [5]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 13 columns):
City                                    348 non-null object
Population                              348 non-null int64
Violent
crime                           348 non-null int64
Murder and
nonnegligent
manslaughter    348 non-null int64
Rape
(revised
definition)1              0 non-null float64
Rape
(legacy
definition)2               348 non-null int64
Robbery                                 348 non-null int64
Aggravated
assault                      348 non-null int64
Property
crime                          348 non-null int64
Burglary                                348 non-null int64
Larceny-
theft                          348 non-null int64
Motor
vehicle
theft                     348 non-null int64
Arson3                                  187 non-null float64
dtypes: float64(2), int64(10), object(1)
memory usage: 35.4+ KB

In [7]:
df.fillna(value=0)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861,0,0,0.0,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,0.0,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,0.0,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,0.0,30,227,526,4090,705,3243,142,0.0
4,Albion Village,6388,23,0,0.0,3,4,16,223,53,165,5,0.0
5,Alfred Village,4089,5,0,0.0,0,3,2,46,10,36,0,0.0
6,Allegany Village,1781,3,0,0.0,0,0,3,10,0,10,0,0.0
7,Amherst Town,118296,107,1,0.0,7,31,68,2118,204,1882,32,3.0
8,Amityville Village,9519,9,0,0.0,2,4,3,210,16,188,6,1.0
9,Amsterdam,18182,30,0,0.0,0,12,18,405,99,291,15,0.0
10,Arcade Village,2053,0,0,0.0,0,0,0,39,3,35,1,0.0
11,Ardsley Village,4523,5,0,0.0,0,3,2,33,4,28,1,0.0
12,Asharoken Village,658,0,0,0.0,0,0,0,2,0,2,0,0.0
13,Attica Village,2522,2,0,0.0,0,0,2,5,0,4,1,0.0
14,Auburn,27270,96,1,0.0,20,22,53,859,132,721,6,0.0
15,Avon Village,3333,1,0,0.0,0,1,0,25,3,20,2,0.0
16,Baldwinsville Village,7473,5,0,0.0,0,1,4,88,10,77,1,0.0
17,Ballston Spa Village,5418,8,0,0.0,0,3,5,94,16,78,0,1.0
18,Batavia,15374,57,0,0.0,7,13,37,559,103,454,2,0.0
19,Bath Village,5733,15,0,0.0,1,3,11,191,32,157,2,2.0
20,Bedford Town,17627,5,0,0.0,0,1,4,156,26,127,3,0.0
21,Bethlehem Town,34243,13,0,0.0,0,3,10,442,50,388,4,0.0
22,Binghamton,46304,284,3,0.0,19,101,161,2349,525,1767,57,0.0
23,Black River,1410,0,0,0.0,0,0,0,14,2,12,0,0.0
24,Blooming Grove Town,12001,8,0,0.0,1,0,7,99,20,72,7,0.0
25,Bolivar Village,1022,1,0,0.0,0,0,1,4,2,2,0,0.0
26,Bolton Town,2325,2,0,0.0,0,0,2,24,4,20,0,0.0
27,Boonville Village,2054,1,0,0.0,0,0,1,20,6,14,0,0.0
28,Brant Town,2065,4,0,0.0,0,1,3,31,9,20,2,0.0
29,Brewster,2358,0,0,0.0,0,0,0,13,3,10,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0.0,0,0,3,83,22,59,2,0.0
319,Tuxedo Park Village,615,0,0,0.0,0,0,0,0,0,0,0,0.0
320,Ulster Town,12195,14,0,0.0,3,2,9,437,25,410,2,0.0
321,Utica,61686,361,7,0.0,27,102,225,2528,449,1997,82,0.0
322,Vestal Town,27980,16,0,0.0,2,6,8,571,39,523,9,0.0
323,Walden Village,6887,18,1,0.0,2,1,14,142,13,124,5,0.0
324,Wallkill Town,27940,40,0,0.0,3,16,21,767,91,650,26,1.0
325,Walton Village,3012,6,0,0.0,1,0,5,68,18,50,0,0.0
326,Warsaw Village,3453,6,0,0.0,1,0,5,78,5,73,0,0.0
327,Washingtonville Village,5828,2,0,0.0,0,1,1,58,5,51,2,0.0
328,Waterford Town and Village,8392,4,0,0.0,0,0,4,59,6,52,1,0.0
329,Waterloo Village,5175,11,0,0.0,0,3,8,194,23,169,2,0.0
330,Watertown,28179,109,0,0.0,12,16,81,1165,169,953,43,0.0
331,Watervliet,10245,26,1,0.0,3,11,11,242,58,163,21,0.0
332,Watkins Glen Village,1862,6,0,0.0,0,0,6,92,10,80,2,0.0
333,Waverly Village,4337,5,0,0.0,0,1,4,54,9,41,4,0.0
334,Webster Town and Village,43777,21,0,0.0,2,3,16,469,101,361,7,0.0
335,Weedsport Village,1797,0,0,0.0,0,0,0,25,5,20,0,0.0
336,Wellsville Village,4574,11,0,0.0,1,0,10,164,32,129,3,1.0
337,Westhampton Beach Village,1732,2,0,0.0,0,0,2,44,4,37,3,0.0
338,West Seneca Town,44821,35,1,0.0,1,9,24,896,166,710,20,0.0
339,Whitehall Village,2604,6,0,0.0,0,0,6,62,12,49,1,0.0
340,White Plains,57559,78,1,0.0,3,28,46,1232,77,1134,21,0.0
341,Whitesboro Village,3733,4,0,0.0,0,0,4,36,14,21,1,0.0
342,Whitestown Town,9141,0,0,0.0,0,0,0,77,13,61,3,0.0
343,Woodbury Town,10685,3,0,0.0,0,2,1,541,9,529,3,0.0
344,Woodridge Village,829,7,0,0.0,0,0,7,17,8,9,0,0.0
345,Woodstock Town,5931,2,0,0.0,0,0,2,58,13,45,0,0.0
346,Yonkers,199134,1036,6,0.0,25,390,615,2368,470,1662,236,10.0
347,Yorktown Town,36643,15,0,0.0,0,2,13,334,45,287,2,0.0

In [8]:
df['Pop_squared']=(df['Population']*df['Population'])

In [9]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Pop_squared
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0,3463321
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0,6640929
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0,8099716
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN,9595377936
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN,40806544

In [13]:
for i in range(len(df)):
    if df.loc[i, 'Murder and\nnonnegligent\nmanslaughter'] == 0:
        df.loc[i, 'Murder_cat'] = 0
    else:
        df.loc[i, 'Murder_cat'] = 1
    if df.loc[i, 'Robbery'] == 0:
        df.loc[i, 'Robbery_cat'] = 0
    else:
        df.loc[i, 'Robbery_cat'] =1

In [14]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Pop_squared,Murder_cat,Robbery_cat
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0.0,3463321,0.0,0.0
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0.0,6640929,0.0,0.0
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0.0,8099716,0.0,0.0
3,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN,9595377936,1.0,1.0
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN,40806544,0.0,1.0